@font-face {
font-family: "Museo Sans";
src: url("fonts/MuseoSans_500.otf");
}

body{
  font-family: 'Museo Sans';
  line-height: 1.5;
}

* {
  margin: 0px;
  padding: 0px;
}

/* HEADER */

header{
  background: #0d325a;
}

  /* nav */
ul {
  list-style-type: none;
}

nav a{
  font-weight: 700;
  font-size: 11px;
  color: white;
  text-decoration: none;
}

nav{
  margin: auto;
  width: 85vw;
  box-sizing: border-box;
}

nav div{
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}

.logo li, .servizi li{
  float: left;
  padding: 5px 5px;
  margin: 20px 5px;
}
.azioni li{
  float: right;
  padding: 2px 22px;
  margin: 20px 5px;
}

.logo{ width: 15%;}
.servizi{ width: 45%; }
.azioni{ width: 38%; }

#tutor a{
  color: rgb(123, 145, 168);
}
#login{
  border: 1px solid #4e8cb6;
  border-radius: 5px;
}
#piano{
  background: #7fb802;
  border-radius: 5px;
  border: 1px solid #7fb802;
}

  /* cover */
.cover{
  background-color:#0d325a;
  height: 410px;
  position: relative;
  box-sizing: border-box;
}

.cover .left, .right{
  width: 55%;
  height: 100%;
}

.cover .left h1{
  color: white;
  font-size: 2.7em;
  font-weight: normal;
  margin-bottom: 30px
}
.cover .left a{
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  padding: 15px 25px;
  border-radius: 5px;
  background: #7fb802;
  margin: 25px 0px;
}

.cover .left{
  position: absolute;
  top:20%;
  left: 8%;
}

.cover .right{
  background: url(img/cover.png);
  background-size: cover;
  position: absolute;
  bottom:0px;
  right:0%;
}


/* MAIN */

  /* grey row */
.grey-row{
  background: #f9f9f9;
  text-align: center;
  padding: 40px 20px 30px 20px;
}
.grey-row h3{
  font-size: 24px;
  font-weight: 300;
  margin-top: 8px;
}
.grey-row h4{
  font-size: 18px;
  font-weight: 300;
  margin-top: 8px;
  color: #999;
}

  /* three-pics-row */
.three-pics-row{
  width: 90%;
  margin: 20px auto;
  text-align: center;
  box-sizing: border-box;
}

.three-pics-row .col{
  width: 30%;
  height:auto;
  float: left;
  margin: 20px
}
.three-pics-row::after{
  content: "";
  display: table;
  clear: both;
}

.three-pics-row img{
  width: auto;
  height: 160px;
  margin-bottom: 55px;
}

.three-pics-row h4{
  font-size: 23px;
  color: #7fb802;
  font-weight: normal;
  height: 50px;
  line-height: 1.1;

}

.three-pics-row p{
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  color: #999;
}

.three-pics-row hr{
  width: 32px;
  border: 1px solid;
  margin: 1rem auto;
  color: rgb(195, 196, 197);
}
